<app-navbar></app-navbar>
<div class="container">
  <h2>Merci pour votre commande {{user.nom}} {{user.prenom}} </h2>
  <br><br>
  <table class="table table-striped table-active" id="tabl">
    <thead>
      <tr>
        <th>Article</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Prix total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of commande.panier">
        <td> {{l.article.nom}}</td>
        <td> {{l.article.prix}} €</td>
        <td> {{l.quantite}}</td>
        <td> {{l.totalLigne}} €</td>
      </tr>
    </tbody>
  </table>
    <h4>NB :   </h4>
  <p>Votre commande vous sera livrée sous 72 heures à votre adresse : {{user.adresse}} .</p>
  <p>Le livreur prendra contact avec vous si vous nous avez laissé votre numéro de téléphone. Il est encore temps de l'ajouter si ce n'est pas déjà fait.</p>
  <br>
  <p class="aPayer">Le montant total de votre commande est de {{commande.prixTotal}} €, il sera à payer au livreur afin de prendre possession de vos articles</p>

</div>
