.header{
    background:-webkit-linear-gradient(top, rgb(255, 165, 46) 30%,rgb(189, 0, 139));
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    padding: 150px 0 50px 0;
    align-items: center;
}
h1{
    font-family: 'Patrick Hand', cursive;
    font-size: 80px;
}
.nomSite{
    text-align: center;
    padding-left: 70px;
}
.logo{
    align-items: center;
    align-content: center;
}

@media (width <1000px) {
    .header{
        flex-direction: column;
        align-items: center;
        padding-top: 250px;


    }
    .nomSite{
        padding-left: 0;

    }

}