<style>
  @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
</style>

<div class="container header">
  <div class="logo">
    <a [routerLink]="['']"><img src="assets/images/logos/2560px-CGI_logo.png" alt="logo" height="80"></a>
  </div>
  <div class="nomSite">
    <h1>Coloured Garden Innovation</h1>
  </div>
</div>
