.renseignements {
  margin-top: 80px;
  padding-bottom: 80px;
}

.contact {
  font-size: 10px;
}

.footer {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.3em;
  height: 50px;
  padding: 10px;
  align-items: center;
  background-color: rgb(23, 17, 17);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer p {
  text-align: center;
  background: -webkit-linear-gradient(top, rgb(189, 0, 139) 30%, rgb(255, 165, 46));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
