
<div class="container renseignements">
  <div class="row">
    <div class="contact col-xs-12 col-md-6">Nous appeler : (+33) 01 01 01 01 01</div>
    <div class="contact col-xs-12 col-md-6">Nous contacter : contact@c-g-i.com</div>
    <div class="contact col-xs-12 col-md-12">Nous envoyer un courrier : Rue de la tête haute 00000 MEGAPOLIS</div>
  </div>
</div>
<div class="footer">
  <p>&copy; Amélie CONSTANTIN - Raphaël PONCET - Sandrine TISSOT / CGI - AJC</p>
</div>
