<app-navbar></app-navbar>
<div class="container p-5 my-5 affichage">
  <h4>Détail de votre commande {{cmd.numero}} du {{cmd.date}} de {{cmd.prixTotal}} €</h4><br><br>
  <div class="container mt-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Article</th>
          <th c>Prix unitaire</th>
          <th>Quantité</th>
          <th>Prix total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of cmd.panier">
          <td> {{x.article.nom}}</td>
          <td> {{x.article.prix}} €</td>
          <td> {{x.quantite}}</td>
          <td> {{x.totalLigne}} €</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <td class="col2"><button [routerLink]="['/mon_compte']" class="btn btn-block">Retour à mon compte</button></td>
  </div>

</div>
