.affichage{
    background-color: rgb(252, 243, 231);
    border-radius: 12px;
}
th, td{
    font-size: 15px;
}
h4{
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}
button{
    margin: 40px 30px;
    background-color: rgb(201, 162, 237);
    font-weight: bold;
}
button:hover{
    background-color: rgb(178, 122, 230);
}