<app-navbar></app-navbar>
<div class="container p-5 my-5 bg-dark text-white">
    <h2>Bon retour parmi nous {{user.nom}} {{user.prenom}}</h2>
    <div id="info">{{user.email}}</div>
    <div id="info">{{user.adresse}}</div>
    <div id="info">{{user.telephone}}</div>
    <img src="assets/images/logos/stickerfleur.png" class="rounded-circle" alt="fleurlogo">
    <hr>
    <div class="container mt-3">
        <h4>Historique de vos commandes</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Commande</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of Mylist">
                    <td>
                        Commande du {{x.date}} pour un montant de {{x.prixTotal}} €
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="detail(x)" id="btn4">Plus de
                            détails...</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="container mt-3" id="boutons">
        <a href="/updateuser" class="btn btn-danger champ" id="btn1">Modifier mon profil</a>
        <a href="/modifmdp" class="btn btn-danger champ" id="btn2">Modifier mon mot de passe</a>
        <button (click)=supp() class="btn btn-danger champ" id="btn3">Supprimer mon compte</button>
    </div>
</div>