h2 {
    font-family: 'Patrick Hand', cursive;
    font-size: 70px;
    text-align: center;
    color : lightpink;
    margin : 0 0 80px 0;
}

img {
    z-index: 2;
    float: right;
    width : 80px;
    height : 80px;
}

h4 {
    font-family: 'Patrick Hand', cursive;
    font-size: 35px;
    color : bisque;
    font-style : italic;
    text-decoration: underline;
    padding : 20px 0 20px 20px;
}

hr {
    margin : 50px 0 10px 0;
    color : bisque;
}

th {
    background-color: bisque;
    font-size: 20px;
    color : black;
    
}

tr{
    background-color: white;
    border-radius: 12px;
}

.container {
    border-radius: 12px;
}

.table {
    border: black;
    opacity: 0.9;
    border-radius: 12px;
}

#boutons{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#btn1, #btn2, #btn3 {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    width:300px;
    margin : 10px 5px;
    text-transform: uppercase;
}

#btn4 {
    background-color: darkcyan;
    border-color: darkcyan;
}

#info{
    font-size: 20px;
}

tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }
th:first-child { border-top-left-radius: 10px; }
th:last-child { border-top-right-radius: 10px; }