.header{
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(23, 17, 17);
    z-index: 3;
}
a{
    text-align: center;
    background:-webkit-linear-gradient(top,rgb(189, 0, 139) 30%, rgb(255, 165, 46) );
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    font-size: 1.6em;
    font-style: italic;
    margin: 15px;
}
a:hover{
    background:-webkit-linear-gradient(top,rgb(193, 6, 255) 60%,rgb(44, 106, 213) );
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
@media (width <1000px) {

    a{
        font-size: 1.2em;
        margin : 0;
    }
}