<div class="header ">
  <nav class="navbar navbar-expand-sm justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/articles']">Articles</a>
      </li>
      <li class="nav-item" *ngIf="utilisateur">
        <a class="nav-link" [routerLink]="['/panier']">Mon Panier</a>
      </li>
      <li class="nav-item" *ngIf="utilisateur">
        <a class="nav-link" [routerLink]="['/mon_compte']">Mon Compte</a>
      </li>
      <li class="nav-item" *ngIf="admin">
        <a class="nav-link" [routerLink]="['/admin_article']">Gestion des articles</a>
      </li>
      <li class="nav-item" *ngIf="admin">
        <a class="nav-link" [routerLink]="['/admin_utilisateur']">Gestion des utilisateurs</a>
      </li>
      <li class="nav-item" *ngIf="utilisateur">
        <a class="nav-link" [routerLink]="['/deconnexion']">Me déconnecter</a>
      </li>
      <li *ngIf="!utilisateur" class="nav-item">
        <a class="nav-link" [routerLink]="['/inscription']">S'inscrire</a>
      </li>
      <li *ngIf="!utilisateur" class="nav-item">
        <a class="nav-link" [routerLink]="['/connexion']">Se connecter</a>
      </li>

    </ul>
  </nav>
</div>
