h2{
    text-align: center;
    text-shadow: 3px 3px 3px rgb(140, 8, 249);
    margin-bottom: 30px;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;;
}
.champ{

    text-align: center;
    align-items: center;
}
#tabl{
    background-color: lightblue;
    
}

.btn{
    opacity: 0.9;
    font-style: italic;
    color : bisque;
    font-weight: bold;
}
.bouton{
    margin-bottom: 30px;
}