<app-navbar></app-navbar>
<h2>Panneau Admin article</h2>
<div class="champ bouton">
    <button class="btn btn-dark btn-outline-info" (click)="add()">Ajouter un article</button>
</div>
<div class="container ">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <table class="table table-striped table-active " id="tabl">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Catégorie</th>
                        <th>Prix</th>
                        <th>Stock</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of articles">
                        <td>{{l.id}}</td>
                        <td> {{l.nom}}</td>
                        <td> {{l.categorie}}</td>
                        <td> {{l.prix}} €</td>
                        <td> {{l.stock}}</td>
                        <td> <button class="btn btn-dark btn-outline-info" (click)="sup(l.id)">Supprimer</button></td>
                        <td> <button class="btn btn-dark btn-outline-info" (click)="mod(l.id)">Modifier</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>