.btn:hover {
    background:-webkit-linear-gradient(top, rgb(255, 165, 46) 30%,rgb(189, 0, 139));
    color:black;
    font-family: 'Patrick Hand', cursive;
  }
  .btn{
    font-family: 'Patrick Hand', cursive;
    border-color: rgb(179, 0, 255);
    color:darkgreen;
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 30px;
    background-color: blanchedalmond;
  }
  .valider{
      margin: 50px;
      text-align: end;
  }
  .prixTot{
      margin: 50px 30px;
      text-align: center;
      font-size: 15px;
      border : solid 2px rgb(75, 43, 107);
      width: 60%;
      height: 45px;
      align-items: center;
      padding: 10px;
  }
  td, th{
      text-align: center;
  }
  h2{
    margin: 30px;
  }
  .suppr{
      background-color: blanchedalmond;
  }
  .container{
      background-color: rgba(238, 187, 187, 0.71);
      border-radius: 30px 30px;
      color:rgb(75, 43, 107);
  }
  table{
    color:rgb(75, 43, 107);
      font-size: 15px ;
  }
.continue{
  border-radius : 8px 8px;
  margin : 10px;
  padding : 8px;
  background-color: rgb(251, 248, 235);
}
a{
  color : rgb(75, 43, 107);
}