<app-navbar></app-navbar>
<div class="container">
  <button  class="btn-outline-info continue" [routerLink]="['/articles']">Continuer mon shopping</button>
  <h2>Votre panier :</h2>
  <div *ngIf="message" class="alert alert-warning">
    <strong> Attention ! </strong> {{message}}
  </div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Article</th>
        <th></th>
        <th>Quantité</th>
        <th> </th>
        <th>Prix total</th>
        <th> </th>
      </tr>
    </thead>
    <tbody *ngIf="panier != null && panier.lignes.length > 0">
      <tr *ngFor="let l of panier.lignes">
        <td><a href="/article/{{l.article.id}}">{{l.article.nom}}</a></td>
        <td><button (click)="boutonEnleve(l)"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
              fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
            </svg></button></td>
        <td>
          {{l.quantite}}
        </td>
        <td><button (click)="boutonAjout(l)"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
              fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
          </button></td>
        <td>{{l.totalLigne}}</td>
        <td><button (click)="supprime(l)" class="btn-lg suppr">Supprimer cet article</button></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="panier != null && panier.lignes.length >0" class="valider">
    <div class="prixTot">Total du Panier : {{panier.prixTotal}} €</div>
    <button (click)="valider()" class="btn btn-outline-info">Valider le panier</button>
    <button (click)="vider()" class="btn btn-outline-info">Vider le panier</button>
  </div>
</div>
