<app-navbar></app-navbar>
<div class="container">
  <h2>Récapitulatif de votre commande : </h2>
  <div *ngIf="message" class="alert alert-warning">
    <strong> Attention ! </strong> {{message}}
  </div>
  <br>
  <p class="prixTot">Prix total de la commande : {{panier.prixTotal}} €</p>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <table class="table table-striped table-active" id="tabl">
        <thead>
          <tr>
            <th>Article</th>
            <th>Prix unitaire</th>
            <th>Quantité</th>
            <th>Prix total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of panier.lignes">
            <td> {{l.article.nom}}</td>
            <td> {{l.article.prix}} €</td>
            <td> {{l.quantite}}</td>
            <td> {{l.totalLigne}} €</td>
          </tr>
        </tbody>
      </table>

      <button routerLink="/panier" class="btn btn-outline-info">Modifier le panier</button>
      <button (click)="valider()" class="btn btn-outline-info">Valider la commande</button>
    </div>
  </div>

</div>
