h2{
    text-align: center;
    text-shadow: 3px 3px 3px rgba(249, 116, 8, 0.452);
    margin-bottom: 30px;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;;
}
.champ{

    text-align: center;
    align-items: center;
}

th {
    background-color: bisque;
}

#tabl{
    background-color: white;
    border-radius: 12px;
    
}

.btn{
    opacity: 0.9;
    font-style: italic;
    color : bisque;
    font-weight: bold;
}

tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }
th:first-child { border-top-left-radius: 10px; }
th:last-child { border-top-right-radius: 10px; }