<app-navbar></app-navbar>
<h2>Panneau Admin utilisateurs</h2>
<div class="container ">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <table class="table table-striped table-active " id="tabl">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Adresse</th>
                        <th>Telephone</th>
                        <th>Role</th>
                        <th>Supprimer</th>
                        <th>Modifier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of utilisateurs">
                        <td>{{l.email}}</td>
                        <td> {{l.nom}}</td>
                        <td> {{l.prenom}}</td>
                        <td> {{l.adresse}}</td>
                        <td> {{l.telephone}}</td>
                        <td> {{l.role}}</td>
                        <td> <button (click)="supp(l)" class="btn btn-dark btn-outline-info" *ngIf="l.email != admin.email">Supprimer</button></td>
                        <td> <button (click)="upgrade(l)" class="btn btn-dark btn-outline-info"  *ngIf="l.role=='user'">Upgrade</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
