.champ{

    text-align: center;
    align-items: center;
    margin: 10px;
}
#tabl{
    background-color: lightblue;
    
}

.btn{
    opacity: 0.9;
    font-style: italic;
    color : bisque;
    font-weight: bold;
}
