<app-navbar></app-navbar>

<div class="container ">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Prix min</th>
                <th>Prix max</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <td><input class="form-control" [(ngModel)]="txt" placeholder="Nom ici"></td>
            <td><input class="form-control" [(ngModel)]="cat" placeholder="fleur nain ou outil"></td>
            <td><input class="form-control" [(ngModel)]="prixMin"  type="number" placeholder="prixMin"></td>
            <td><input class="form-control" [(ngModel)]="prixMax"  type="number" placeholder="prixMax"></td>
            <td><button class="btn btn-danger" (click)="research()">Rechercher</button></td>
        </tbody>

    </table>
    <hr>
    <div class="row">
        <div class="col-md-4 col-xs-12 col-lg-3" class="card lien" style="max-width:300px" *ngFor="let l of articles">
            <a  href="/article/{{l.id}}"><img  class="card-img-top image" src="assets/images/fleurs/{{l.image}}"
                    *ngIf="l.categorie==1"></a>
            <a href="/article/{{l.id}}"><img class="card-img-top image" src="assets/images/nains/{{l.image}}"
                    *ngIf="l.categorie==2"></a>
            <a href="/article/{{l.id}}"><img class="card-img-top image" src="assets/images/outils/{{l.image}}"
                    *ngIf="l.categorie==3"></a>
            <div class="card-body">
                <h4 class="card-title">{{l.nom}}</h4>
                <p class="card-text">{{l.prix}} €</p>
                <a *ngIf="user" href="/article/{{l.id}}" >Détails</a>
            </div>
        </div>
    </div>
</div>