.card{
    margin:auto;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    border : none;
    background-color: transparent;
    height: 100%;
    width:100%;
}
.image{
    max-height : 250px;
    width:250px;
    border-radius: 40px 40px;
    margin-top: 20px;
}
.champ{
    margin:5px 15px;
}

.label{
    color:red;
}
.msg{
    text-align: center;
}
th,td{
    width: 20%;
    padding: 5px;
    text-align: center;
}
table{
    margin-left: 40px;
}