.container {
    border-radius: 12px;
}

h2 {
    font-family: 'Patrick Hand', cursive;
    font-size: 70px;
    text-align: center;
    color : lightpink;
}

img {
    z-index: 2;
    float: right;
    width : 80px;
    height : 80px;
}

.float-start{
    width : 180px;
    height : 180px;
    z-index: 2;
}

hr {
    margin : 50px 0 10px 0;
    color : bisque;
}

label {
    font-style : italic;
    font-size: 25px;
}

input {
    font-size: 25px;
    margin : 10px 0px 10px 0px;
    background-color: bisque;
    border: white;
    opacity: 0.9;
    border-radius: 12px;
    padding: 0 25px 0 25px;
    width:550px;
}

#formulaire{
    font-family: 'Patrick Hand', cursive;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boutons{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn1, #btn2 {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    width:300px;
    margin : 10px 5px;
}
