<app-navbar></app-navbar>
<div class="container">
    <div *ngIf="message" class="alert alert-warning">
      <strong> Attention ! </strong> {{message}}
    </div>
  </div>
<div class="container p-5 my-5 bg-dark text-white">
    <h2>Formulaire de modification de mes informations</h2>
    <img src="assets/images/logos/stickerfleur.png" class="rounded-circle" alt="fleurlogo">
    <hr>
    <div class="container mt-3" id="formulaire">
        <div>
            <label for="password">Mot de passe actuel: </label>
            <br>
            <input type="password" [(ngModel)]="password">
        </div>
        <div>
            <label for="mdp1">Entrez votre nouveau mot de passe: </label>
            <br>
            <input type="password" [(ngModel)]="mdp1">
        </div>
        <div>
            <label for="mdp2">Confimation du mot de passe: </label>
            <br>
            <input type="password" [(ngModel)]="mdp2">
        </div>
    <hr>
    <div class="container mt-3" id="boutons">
        <button (click)="valid()" class="btn btn-danger champ" id="btn1">VALIDER</button>
        <a href="/mon_compte" class="btn btn-danger champ" id="btn2">ANNULER</a>
    </div>
</div>

