<app-navbar></app-navbar>
<div class="container">
  <div *ngIf="message" class="alert alert-warning">
    <strong> Attention ! </strong> {{message}}
  </div>
</div>
<div class="container p-5 my-5 bg-dark text-white">
  <h2>Connectez-vous</h2>
  <img src="assets/images/logos/stickerfleur.png" class="rounded-circle" alt="fleurlogo">
  <hr>
  <div class="container mt-3" id="formulaire">
    <div>
      <label for="email">Login : </label>
      <br>
      <input type="text" name="email" [(ngModel)]="email" class="form-control" required>
    </div>
    <div>
      <label for="password">Password : </label>
      <br>
      <input type="password" name="password" [(ngModel)]="password" class="form-control"  minlength="1" required>
    </div>
  </div>
  <hr>
  <div class="container mt-3" id="boutons">
    <button (click)=auth() class="btn btn-danger champ" id="btn1">SE CONNECTER</button>
    <a href="" class="btn btn-danger champ" id="btn2">RETOUR A L'ACCUEIL</a>
  </div>
</div>