<app-navbar></app-navbar>
<div class="container">
    <div *ngIf="message" class="alert alert-warning">
      <strong> Attention ! </strong> {{message}}
    </div>
  </div>
<div class="container p-5 my-5 bg-dark text-white">
    <h2>Formulaire de modification de mes informations</h2>
    <img src="assets/images/logos/stickerfleur.png" class="rounded-circle" alt="fleurlogo">
    <hr>
    <div class="container mt-3" id="formulaire">
        <div>
            <label for="email">Email : </label>
            <br>
            <input type="text" [(ngModel)]="user.email" id="email" readonly>
        </div>
        <div>
            <label for="nom">Nom : </label>
            <br>
            <input type="text" [(ngModel)]="user.nom">
        </div>
        <div>
            <label for="prenom">Prenom : </label>
            <br>
            <input type="text" [(ngModel)]="user.prenom">
        </div>
        <div>
            <label for="adresse">Adresse : </label>
            <br>
            <input type="text" [(ngModel)]="user.adresse">
        </div>
        <div>
            <label for="telephone">Telephone : </label>
            <br>
            <input type="text" [(ngModel)]="user.telephone">
        </div>
    </div>
    <hr>
    <div class="container mt-3" id="boutons">
        <button (click)="update()" class="btn btn-danger champ" id="btn1">VALIDER</button>
        <a href="/mon_compte" class="btn btn-danger champ" id="btn2">ANNULER</a>
    </div>
</div>