<app-navbar></app-navbar>




<div class="container">

  <div id="presArt" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#presArt" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#presArt" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#presArt" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#presArt" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#presArt" data-bs-slide-to="4"></button>
      <button type="button" data-bs-target="#presArt" data-bs-slide-to="5"></button>
      <button type="button" data-bs-target="#presArt" data-bs-slide-to="6"></button>
      <button type="button" data-bs-target="#presArt" data-bs-slide-to="7"></button>
      <button type="button" data-bs-target="#presArt" data-bs-slide-to="8"></button>
    </div>

    <!--IMAGES A FAIRE DEFILER-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/carousel/outils1.webp" alt="Outils" class="d-block">
        <div class="carousel-caption">
          <h3>Outils performants</h3>
          <p>Notre sélection d'outillages pour votre jardin !</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel/nains1.jpg" alt="Nains" class="d-block">
        <div class="carousel-caption">
          <h3>Nains de jardin</h3>
          <p>Un jardin sans nains n'est pas un jardin coloré !</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel/fleurs1.jpg" alt="Fleurs" class="d-block">
        <div class="carousel-caption">
          <h3>Fleurs</h3>
          <p>De toutes les couleurs, pour toutes vos envies !</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel/outils2.webp" alt="Outils" class="d-block">
        <div class="carousel-caption">
          <h3>Outils performants</h3>
          <p>Notre sélection d'outillages pour votre jardin !</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel/nains2.jpg" alt="Nains" class="d-block">
        <div class="carousel-caption">
          <h3>Nains de jardin</h3>
          <p>Un jardin sans nains n'est pas un jardin coloré !</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel/fleurs2.webp" alt="Fleurs" class="d-block">
        <div class="carousel-caption">
          <h3>Fleurs</h3>
          <p>De toutes les couleurs, pour toutes vos envies !</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel/outils3.jpg" alt="Outils" class="d-block">
        <div class="carousel-caption">
          <h3>Outils performants</h3>
          <p>Notre sélection d'outillages pour votre jardin !</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel/nains3.jpg" alt="Nains" class="d-block">
        <div class="carousel-caption">
          <h3>Nains de jardin</h3>
          <p>Un jardin sans nains n'est pas un jardin coloré !</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel/fleurs3.webp" alt="Fleurs" class="d-block">
        <div class="carousel-caption">
          <h3>Fleurs</h3>
          <p>De toutes les couleurs, pour toutes vos envies !</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev control" type="button" data-bs-target="#presArt" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next control" type="button" data-bs-target="#presArt" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <h2>Bonjour</h2>
  <div class="presentation">
    <p>Chez Coloured Garden Innovation, il y a tout ce que vous désirez pour faire de votre jardin le plus beau du
      quartier ! Déco, outillages et plantes sont dans notre magasin en ligne pour votre plaisir. </p>
    <p>Quoi que vous cherchiez, avec C.G.I., vous êtes unique, et ça nous plait !</p>
    <div class="signature">Bienvenue chez C.G.I.</div>
  </div>
</div>
