h2{
    text-align: center;
    text-shadow: 3px 3px 3px rgb(140, 8, 249);
    margin-bottom: 30px;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;;
}
hr{
    color:rgb(255, 0, 93)
}
.presentation p{
    text-align: justify;
    font-size: 1.8em;
    text-indent: 30px;
    padding: 10px 50px;
    margin-top: 30px;;
    font-family: 'Patrick Hand', cursive;
}
.signature{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;;
    padding: 50px;
}
.carousel-caption{
font-family: Georgia, 'Times New Roman', Times, serif;
}
.carousel-caption p{
    font-size:10px;
}
.control{
    background-color: rgba(0, 255, 81, 0.217);
}
.carousel{
    margin: 50px auto;
    max-width: 800px;
}
.carousel-item img {
    max-height: 550px;
    max-width: 100%;
    border-radius: 20px 20px;
}

@media (width <1000px) {
    .carousel-item img{
        max-height: 450px;
        width: 100%;
        border-radius: 20px 20px;
    }
}

@media (width <750px) {
    .carousel-item img{
        max-height: 300px;
        width: 100%;
        border-radius: 20px 20px;
    }
}