h2{
    text-align: center;
}
.image img{
    max-width : 80%;
    height: auto;
    border-radius: 30px 30px;
}
.image{
    text-align: center;
    align-items: center;
}
.col2 {
    width: 60%;
}
.col1{
    max-width: 40%;
    font-weight: bold;
}
input {
    max-width: 100px;
}
.desc{
    text-align: justify;
    text-indent: 20px;
}