<app-navbar></app-navbar>
<div class="container">
  <div *ngIf="message" class="alert alert-warning">
    <strong> Attention ! </strong> {{message}}
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div *ngIf="article.categorie==1" class="image col-md-5 col-sm-12"><img src="assets/images/fleurs/{{article.image}}" alt={{article.nom}}></div> 
    <div *ngIf="article.categorie==2" class="image col-md-5 col-sm-12"><img src="assets/images/nains/{{article.image}}" alt={{article.nom}}></div> 
    <div *ngIf="article.categorie==3" class="image col-md-5 col-sm-12"><img src="assets/images/outils/{{article.image}}" alt={{article.nom}}></div> 
    <div class="col-md-7 col-sm-12">
        <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="col1">Nom :  </td>
                <td class="col2">{{article.nom}}</td>
              </tr>
              <tr>
                <td class="col1">Description :</td>
                <td class="col2 desc">{{article.description}}</td>
              </tr>
              <tr>
                <td class="col1">Prix : </td>
                <td class="col2">{{article.prix}} €</td>
              </tr>
              <tr>
                <td class="col1">Quantité : <input type="number"  [(ngModel)]="qte" min="1" max={{article.stock}}></td>
                <td class="col2"><button (click)="ajoutPanier(article)" class="btn btn-info btn-block">Ajouter au panier</button></td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
