.champ{

    text-align: center;
    align-items: center;
    margin: 10px;
}

td,th{
    height: 50px;
    width: 150px;
}
tr{
    width : 100%;
}
#tabl{
    background-color: lightblue;
    
}

.btn{
    opacity: 0.9;
    font-style: italic;
    color : bisque;
    font-weight: bold;
}