<div class="container ">
    <div class="row">

        <div class= "col-md-3 col-sm-12">
            <table class="table table-striped table-active " id="tabl">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Prix</th>                
                    <th>Stock</th>
                    <th>Image</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" [(ngModel)]="a.id" readonly></td>
                    <td> <input type="text" [(ngModel)]="a.nom"></td>
                    <td> <input type="number" [(ngModel)]="a.categorie">
                        <br>
                        <br>
                    1 : Fleurs <br>
                    2 : Nains de jardin<br>
                    3 : Outils </td>
                    <td> <input type="number" [(ngModel)]="a.prix"></td>
                    <td> <input type="number" [(ngModel)]="a.stock"></td>
                    <td> <input type="text" [(ngModel)]="a.image"></td>
                    <td> <textarea cols="20" rows="6" [(ngModel)]="a.description"></textarea></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="champ">


        <button class="btn btn-dark btn-outline-info champ" (click)="update()">Mettre à jour</button><br>
        <button class="btn btn-dark btn-outline-info champ" (click)="retour()">Retour au menu</button><br>

        {{message}}
    </div>

</div>